# Exercicis - Pandas  <img align="right"  width="185" height="75"  src="../img/pandas-logo.png" alt="pandas_logo"/>

Exercicis relacionats en lla llibreria [Pandas](https://pandas.pydata.org/) per el tractament de dades

## Exercici 1
Crea un DataFrame anomenat `fruites` seguint la següent estructura

|   | Pomes | Peres |
|---|-------|-------|
| 0 | 21    | 22    |

In [4]:
import pandas as pd

fruites = {'Pomes':[21],
        'Peres':[22]}

pd.DataFrame(fruites)

   Pomes  Peres
0     21     22

## Exercici 2
Crea un DataFrame anomenat `vendes_fruites` seguin la següent estructura

|      | Pomes | Peres |
|------|-------|-------|
| 2017 | 21    | 22    |
| 2018 | 42    | 15    |

In [6]:
vendes_fruites = pd.DataFrame({'Pomes':[21,42],'Peres':[22,15]},
          index=['2017','2018'])

pd.DataFrame(vendes_fruites)

      Pomes  Peres
2017     21     22
2018     42     15

## Exercici 3

Crea una variable `ingredients` mitjançant Series seguin la següent estructura

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [7]:
ingredients= pd.Series(['4 cups','1 cup', '2 large', '1 can'],
                      index=['Flour','Milk','Eggs','Spam'], name='dinner')

pd.Series(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: dinner, dtype: object

# Exercici 4
Llegeix el següent conjunt de dades CSV de valoracions de vins dins d'un DataFrame anomenat `reviews`
Origen de dades: dataset/wine-reviews/winemag-data_first150k.csv

In [8]:
reviews = pd.read_csv('dataset/wine-reviews/winemag-data_first150k.csv')
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

# Exercici 5
Carrega la variable animals executant el següent tall de codi i guarda el DataFrame a disk en un fitxer CSV

In [9]:
import pandas as pd

animals = pd.DataFrame({'Vaques': [12, 20], 'Cabres': [22, 19]}, index=['Any 1', 'Any 2'])

## Guardem el DataFrame a disk
animals.to_csv('Animals.csv')

# Exercici 6
Del dataset `dataset/wine-reviews/winemag-data_first150k.csv`

Selecciona la columna `description` de les valoracions i guard-ho a la variable `desc`

In [11]:
reviews = pd.read_csv('dataset/wine-reviews/winemag-data_first150k.csv', index_col=False)

reviews.description

0         This tremendous 100% varietal wine hails from ...
1         Ripe aromas of fig, blackberry and cassis are ...
2         Mac Watson honors the memory of a wine once ma...
3         This spent 20 months in 30% new French oak, an...
4         This is the top wine from La Bégude, named aft...
                                ...
150925    Many people feel Fiano represents southern Ita...
150926    Offers an intriguing nose with ginger, lime an...
150927    This classic example comes from a cru vineyard...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 150930, dtype: object

# Exercici 7
Seleciona el primer valor de la columna `description` de les valoracions. Assigna el resultat a la variable `primera_descripcio`

In [26]:
reviews.loc[0,'description']

desc.iloc[0:1]     

descriptions= pd.read_csv('dataset/wine-reviews/winemag-data_first150k.csv', usecols=['description'])
descriptions.head(1)

reviews.description[0]

# Exercici 8
Selecciona la primera fila / primer registre de les valoracions, assigna-ho a la variable `primera_fila`

In [39]:
reviews.iloc[0,:]

country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                      235.0
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

# Exercici 9
Selecciona els 10 primers valors de la columna `description` de les valoracions, assigna el resultat a la variable `primeres_descripcions`.

In [43]:
reviews.iloc[:10].description

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
2    Mac Watson honors the memory of a wine once ma...
3    This spent 20 months in 30% new French oak, an...
4    This is the top wine from La Bégude, named aft...
5    Deep, dense and pure from the opening bell, th...
6    Slightly gritty black-fruit aromas include a s...
7    Lush cedary black-fruit aromas are luxe and of...
8    This re-named vineyard was formerly bottled as...
9    The producer sources from two blocks of the vi...
Name: description, dtype: object

# Exercici 10
Selecciona els registres dels següents índexs: 1, 2, 3, 5, and 8, assigna el resultats a la variable sample_reviews.

![](https://i.imgur.com/sHZvI1O.png)

In [47]:
reviews.iloc[[1,2,3,5,8]]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström

# Exercici 11
Crea una variable `df` que contingui les columnes `country, province, region_1, and region_2` dels registres amb índexs 0, 1, 10, and 100. Hauria de ser un resultat com aquest:

![](https://i.imgur.com/FUCGiKP.png)

In [69]:
reviews.iloc[[0,1,10,100],:].loc[:,['country', 'province', 'region_1', 'region_2']]

reviews.loc[[0,1,10,100],['country', 'province', 'region_1', 'region_2']]

#reviews.iloc[[0,1,10,100],:].loc[[1,8],['country','province','region_1','region_2']]

(150930, 10)

# Exercici 12
Crea una variable `df` que contingui les columnes `country` i `variety` dels primers 100 registres. 

Utilitza `loc` o `iloc`. Quan treballeu en la resposta a aquesta pregunta i a les diverses que segueixen, manteniu el següent "gotcha" descrit al tutorial:

> Compte amb l'ús de `iloc`. En aquest cas, `df.iloc[0:100]` retornarà 100 entrades, mentre que `df.loc[0:100]` en retornarà 101! Per obtenir 100 elements amb `loc`, haureu d'anar un més avall i demanar `df.loc[0:99]`.

In [77]:
reviews.iloc[0:100].loc[:,['country', 'variety']]

reviews.iloc[0:100,[0,8]]

   country               variety
0       US    Cabernet Sauvignon
1    Spain         Tinta de Toro
2       US       Sauvignon Blanc
3       US            Pinot Noir
4   France    Provence red blend
..     ...                   ...
95  France         Malbec-Merlot
96      US            Chardonnay
97      US    Cabernet Sauvignon
98  France         Merlot-Malbec
99  France  Ugni Blanc-Colombard

[100 rows x 2 columns]

# Exercici 13
Crea un DataFrame anomenat vins_italians que contingui els vins italians

In [84]:
reviews[reviews.country=='Italy']

reviews[reviews.country.isin(["Italy"])]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm
...,...,...,...,...,...,...,...,...,...,...
150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

# Exercici 14
Crea un DataFrame `top_oceania_wines` que contingui totes les valoracions de com a mínim amb un 95 de puntuació dels vins d'Australia (Australia) i Nova Zelanda (New Zeeland).

In [89]:
reviews[(reviews.country.isin(["Australia","New Zeeland"])) & (reviews.points >= 95)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
2148,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Shiraz,Torbreck
2458,Australia,This is a top example of the classic Australia...,The Peake,96,150.0,South Australia,McLaren Vale,NaN,Cabernet-Shiraz,Hickinbotham
3033,Australia,This Cabernet equivalent to Grange has explode...,Bin 707,95,500.0,South Australia,South Australia,NaN,Cabernet Sauvignon,Penfolds
3044,Australia,"From vines planted in 1912, this has been an i...",Mount Edelstone Vineyard,95,200.0,South Australia,Eden Valley,NaN,Shiraz,Henschke
3047,Australia,"This is a throwback to those brash, flavor-exu...",One,95,95.0,South Australia,Langhorne Creek,NaN,Red Blend,Heartland
...,...,...,...,...,...,...,...,...,...,...
122779,Australia,If Standish's Relic is the feminine side of Sh...,The Standish Single Vineyard,96,135.0,South Australia,Barossa Valley,NaN,Shiraz,Standish
127614,Australia,This stellar wine takes a little time in the g...,Hill of Grace,95,625.0,South Australia,Eden Valley,NaN,Shiraz,Henschke
137383,Australia,The 2007 Astralis impresses for its combinatio...,Astralis,95,225.0,South Australia,Clarendon,NaN,Syrah,Clarendon Hills
150562,Australia,"As unevolved as they are, the dense and multil...",Grange,96,185.0,South Australia,South Australia,NaN,Shiraz,Penfolds
150563,Australia,"Seamless luxury from stem to stern, this ‘baby...",RWT,95,70.0,South Australia,Barossa Valley,NaN,Shiraz,Penfolds

---------------------

A partir d'aquest exercici utilitza el dataset `dataset/wine-reviews/winemag-data-130k-v2.csv`

---------------------

In [1]:
import pandas as pd

reviews = pd.read_csv('dataset/wine-reviews/winemag-data-130k-v2.csv', index_col=False)
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# Exercici 15

Crea una "Sèrie" a on líndex sigui el compte de twitter i els valors quantes ressenyes ha escrit.

In [6]:
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [5]:
reviews.groupby('taster_twitter_handle').taster_twitter_handle.size()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

# Exercici 16

Quin és el millor vi que puc comprar per una quantitat determinada de diners? 

Crea una sèrie a on l'índex sigui els preus del vi i els valors siguin el nombre màxim de punts que es va donar en un vi per aquest preu.

Ordena els valors per preu, de manera ascendent (de manera que 4,0 dòlars estiguin a la part superior i 3300,0 dòlars a la part inferior).

In [13]:
reviews.groupby(['price']).points.max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

# Exercici 17

Quins són els preus mínims i màxims per a cada varietat de vi?

De cada varietat de vi volem saber el preu mínim i màxim .

In [14]:
reviews.groupby("variety").price.agg([min,max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

# Exercici 18

Quines són les varietats de vi més cares? 

Guarda en una variable `ordre_varietats` que contingui una còpia de les dades de la pregunta anterior on les varietats s'ordenen en ordre descendent en funció del preu mínim i després del preu màxim.

In [25]:
ordre_varietats = reviews.groupby("variety").price.agg([min,max])
ordre_varietats.sort_values(['min','max'],ascending=[False,False]).head(20)

                              min    max
variety
Ramisco                     495.0  495.0
Terrantez                   236.0  236.0
Francisa                    160.0  160.0
Rosenmuskateller            150.0  150.0
Tinta Negra Mole            112.0  112.0
Pignolo                      70.0   70.0
Syrah-Cabernet Franc         60.0   69.0
Garnacha-Cariñena            57.0   57.0
Doña Blanca                  53.0   53.0
Cercial                      50.0   50.0
Mavrotragano                 50.0   50.0
Sercial                      50.0   50.0
Pugnitello                   49.0   49.0
Malbec-Cabernet              45.0  165.0
Tinta del Pais               45.0   50.0
Touriga                      45.0   46.0
Babosa Negro                 45.0   45.0
Cabernet Sauvignon-Barbera   45.0   45.0
Syrah-Grenache-Viognier      45.0   45.0
Tinta Madeira                45.0   45.0

# Exercici 19

Mostra de cada `reviewer` utilitzant el camp `taster_name` la mitjana de puntuació que fa.

In [30]:
reviews.groupby("taster_name").points.mean().round(3)

taster_name
Alexander Peartree    85.855
Anna Lee C. Iijima    88.416
Anne Krebiehl MW      90.563
Carrie Dykes          86.396
Christina Pickard     87.833
Fiona Adams           86.889
Jeff Jenssen          88.320
Jim Gordon            88.626
Joe Czerwinski        88.536
Kerin O’Keefe         88.868
Lauren Buzzeo         87.740
Matt Kettmann         90.009
Michael Schachner     86.907
Mike DeSimone         89.101
Paul Gregutt          89.083
Roger Voss            88.708
Sean P. Sullivan      88.756
Susan Kostrzewa       86.609
Virginie Boone        89.213
Name: points, dtype: float64


Hi ha diferències significatives entre puntuacions dels diferents `reviewers`. Utilitza el mètode `describe()` del conjunt resultat de l'exercici.

# Exercici 20

Quina combinació de països i varietats és més habitual? 
Crea una sèrie amb MultiIndex de parells {país, varietat} juntament amb la quantitat de reviews. 
Per exemple, un *pinot noir* produït als EUA hauria de correspondre a {"US", "Pinot Noir"}. 
Ordena el resultat en ordre descendent en funció del recompte de vins.

In [41]:
reviews.groupby(['country','variety']).size().sort_values(ascending=False).head(10)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
US       Syrah                       3244
         Red Blend                   2972
France   Chardonnay                  2808
Italy    Nebbiolo                    2736
US       Zinfandel                   2711
dtype: int64

# Exercici 21

Quin és el tipus de dades del camp `points` del dataset? guarda el resultat a una variable anomenada dtype

In [42]:
reviews.points.dtype

dtype('int64')

# Exercici 22

Converteix la columna `points` a strings. El tipus de dades string en Python és `str`.

In [51]:
reviews.points.astype(str)

dtype('O')

# Exercici 23

Alguns valors de la columna `price`són nul·les. Quantes reviews dins del dataset no en sabem el preu?

In [66]:
reviews.price.isnull().value_counts()
reviews[reviews.price.isnull()].sum()

False    120975
True       8996
Name: price, dtype: int64

# Exercici 24

Quines són les regions productores de vi més habituals? 
Crea una Sèrie que contabilitzi el nombre de vegades que apareix cada valor del camp `region_1`. En aquest camp hi falten dades. Substitueix els valors que falten per "Desconegut" i ordena de forma descendent.

In [78]:
reviews.region_1.fillna("Desconegut").value_counts().sort_values(ascending=False)

Desconegut              21247
Napa Valley              4480
Columbia Valley (WA)     4124
Russian River Valley     3091
California               2629
                        ...
Offida Rosso                1
Corton Perrières            1
Isle St. George             1
Geelong                     1
Paestum                     1
Name: region_1, Length: 1230, dtype: int64