# Tractament de dades - Pandas  <img align="right"  width="185" height="75"  src="img/pandas-logo.png" alt="pandas_logo"/>

En aquest apartat veurem una de les llibreries més utilitzades alhora de realitzar anàlisis de dades: importar i exportar dades, realitzar operacions de tractament, etc..

## Introducció a Pandas
---------------------
Com qualsevol atre llibreria de python utilitzarem la paraula import per utilitzar-la

```python
import pandas as pd
```


A Pandas hi ha dos objectes principals: el **DataFrame** i les **Series**

## DataFrame
---------------------
La classe [*DataFrame*](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) és una de les més utilitzades ja que igual que R és aquells que utilitzarem per tractar les dades.
Serà una taula de doble entrada (files i columnes).

Una DataFrame és una taula que conté una sèrie d'entrades individuals, cadascuna de les quals té un valor determinat. Cada entrada correspon a una fila/registre i a una columna.

Per exemple:

In [36]:
import pandas as pd

data = {'Nom':['Pere', 'Alice', 'Marta', 'Tom'],
        'Edat':[20, 21, 19, 18]}

pd.DataFrame(data)

     Nom  Edat
0   Pere    20
1  Alice    21
2  Marta    19
3    Tom    18

In [37]:
pd.DataFrame({ 
    'clau':['A','B','C','A','B','C'] ,
    'valors' : range(6) 
    }, 
    columns = ['valors','clau'] 
)

   valors clau
0       0    A
1       1    B
2       2    C
3       3    A
4       4    B
5       5    C

Els valors de les columnes no han de ser número poden ser cadenes de text. A més, també podem assignar etiquetes a les files de la taula mitjançant el paràmetre index.

In [38]:
pd.DataFrame({'Pere': ['M\'agrada', 'No m\'agrada'], 
              'Marta': ['No està malament', 'M\'agrada']},
             index=['Producte A', 'Producte B'])

                   Pere             Marta
Producte A     M'agrada  No està malament
Producte B  No m'agrada          M'agrada

## Series
---------------------

Una sèrie, és senzillament una seqüència de valors de dades. Si un DataFrame és una taula, una Sèrie és una llista. I, de fet, es poden crear mitjanpodeu crear-ne un amb res més que una llista:
La classe [*Serie*](https://pandas.pydata.org/docs/reference/series.html) és una única columna d'un DataFrame i com a tal podem assignar-li etiquetes a la fila.

Per exemple:

In [39]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
pd.Series([30, 35, 40], index=['2015 Vendes', '2016 Vendes', '2017 Vendes'], name='Producte A')

2015 Vendes    30
2016 Vendes    35
2017 Vendes    40
Name: Producte A, dtype: int64


## Importació
---------------------

Podem importar dades a DataFrames de Pandas de diferents orígen i formats. Alguns dels més utilitzats són:

* De CSV: con [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
* De Excel: con [`read_excel`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html)
* De base de datos: con [`read_sql`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html)
* La més genèrica és [`read_table`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)


En aquest exemple veiem la manera d'importar les dades a partir d'un fitxer CSV. Aquest fitxer conté dades d'anuncis de venda de cotxes de segona mà de diferents plataformes. Origen del [dataset](https://www.kaggle.com/datasets/datamarket/venta-de-coches)

**Nota:** Per poder manipular base de dades SQLite podem utilitzar l'eina [DB Browser for SQLite ](https://sqlitebrowser.org/)

In [ ]:

#Importar dadades des d'un CSV
import pandas as pd

cotxes = pd.read_csv('dataset/venda-cotxes-segona-ma.csv', index_col=False)
cotxes.head()

In [ ]:

#Importar dadades des d'un Excel
import pandas as pd

cotxes = pd.read_excel('dataset/venda-cotxes-segona-ma.xlsx', index_col=0)
cotxes.head()

In [ ]:

#Importar dadades des d'una BD SQL (SQLite)
import pandas as pd
import sqlite3

# Creem una conexió a la base de dades SQLite
con = sqlite3.connect("dataset/venda-cotxes-segona-ma.db")

#
cotxes = pd.read_sql("SELECT * FROM cotxes", con)
cotxes.head()

#Tanquem la connexió
con.close()

In [ ]:
#Podem importar dades directament d'una URL
import pandas as pd

df = pd.read_csv("http://winterolympicsmedals.com/medals.csv")
df.head()

Alguns dels paràmetres més importants de read_csv són:
* delimiter: Indica quin caràcter és el delimitador de valors en el cas d'un CSV seràn les comes
* decimal: Indica quin caràcter s'utilitza com a separador de milers
* encoding: Indica la codificació de caràcters amb la qual ha de llegir el fitxer. El més usual és "utf-8"

## Accés a les dades
--------------------

Podem accedir a les columnes del DataFrme mitjançant el nom de la columna.

Per exemple: ```cotxes.price``` obtindria un vector amb la columna de preu de tots els cotxes.

L'objecte DataFrame ofereix certes propietats/mètodes per cada columna. Per exemple si posem un punt '.' després del nom de la columna ens apareixeran tots els mètodes disponibles.

In [ ]:
# Retorna tot els valors de la columna price
cotxes.price

In [ ]:
# Retorna quin és el valor màxim de la columna preu
cotxes.price.max()

In [ ]:
# Retorna quina és la posició del valor màxim de la columna preu
cotxes.price.argmax()

In [ ]:
# Retorna la mitjana de la columna preu
cotxes.price.mean()

In [ ]:
# Retorna la mediana de la columna preu
cotxes.price.median()

In [ ]:
# Retorna un resum de la columna
cotxes.price.describe()

Podem també fer el describe de tot el DataFrame o Transposar files per columnes mitjançant el transpose.
Molt sovint també ens interessa saber el tamany del DataFrame. Això ho fem la propietat shape que ens retornarà un vector amb dos valors (qt files, qt columnes).

In [ ]:
# retorna una matriu amb el resum de cada columna
cotxes.describe()

In [ ]:
# Si volem transposar (canviar files/columnes) la matriu hi ha el mètode transpose
cotxes.describe().transpose()

In [ ]:
# Podem fer la mitjana per cada columna que sigui numèrica
cotxes.mean()

In [ ]:
# Si volem saber el tamany del DataFrame utilitzarem la propietat shape (quantitat de files i columnes)
cotxes.shape

In [ ]:
# Si volem veure els valors únics d'un camp (quines marques tenim)
# retorna un array.
cotxes.make.unique()

In [ ]:
# Volem contar quantes files hi ha de cada marca
cotxes.make.value_counts()

In [ ]:
#També podem fer la mitjana per columnes (les columnes només han de ser númeriques)
cotxes.mean(axis='columns')

## Filtre i/o selecció
----------------------

Per poder seleccionar un subconjunt de les dades que tenim en un Dataframe podem utilitzar les porpietats `loc`, `iloc` i `[]`. El primer `loc` accedirem al grup de files i columnes mitjançant etiquetes o bé amb un array de vooleans. Amb el segon `iloc` accedim al grup de files i columnes mitjançant posicions. Per últim `[]` l'utilitzarem per filtrar per condicions.

[https://pandas.pydata.org/docs/user_guide/indexing.html](https://pandas.pydata.org/docs/user_guide/indexing.html#)

Aquests mètodes retornen un altre DataFrame. 
Si volem transformar-lo amb un array d'objectes (Array of object)

### Selecció per índexs (`iloc`)

Per accedir per posició utilitzant indexos numèrics , utilitzarem iloc[] i dins dels claudators indicarem els índexs de les les files i les columnes que volem seleccionar

[https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

Cal tenir en compte que Python utilitza el 0 com a primer valor d'un índex.


```python
# Sintaxi
iloc[<número de files>]
iloc[<índex primera fila>:<índex última fila>,<índex primera col>:<índex última col>]
iloc[<índex fila a seleccionar>,<índex columna a seleccionar>]
iloc[[<índexs de les files no consecutives a seleccionar>],[<índexs de les columnes no consecutives a seleccionar>]]
```

In [ ]:
# Seleccionem les 100 primeres observacions
cotxes.iloc[100]

In [ ]:
# Seleccionem totes les files i totes les columnes (no filtrem res)
cotxes.iloc[:,:]

In [ ]:
# Seleccionem totes les files i la primera columna (company)
cotxes.iloc[:,0:1]

In [ ]:
# Seleccionem totes les files i la primera columna (company)
cotxes.iloc[:,0]

In [ ]:
# Seleccionem la última columna (insert_date)
cotxes.iloc[:,-1]

In [ ]:
# Seleccionem totes les columnes excepte la última
cotxes.iloc[:,:-1]

In [ ]:
# Seleccionem les columnes 1, 2, 4 (columnes no consecutives) (make,model,price)
cotxes.iloc[:,[1,2,4]]

##### Exercicis `iloc`

Del dataset venda-cotxes-segona-ma.csv 

* Mostra les 5 primeres files
* Mostra les 5 últimes files
* Mostra la fila 10,15,20
* Mostra la fila 10, però només volem la marca i el model del cotxe

### Selecció per etiquetes (`loc`)

Amb `loc` podem seleccionar un grup de files i/o columnes a través d'etiquetes o un array de booleans.

[https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)


* Una sola etiqueta, per exemple. `5` or `'a'`, (el 5 és interpretat com una etiqueta i no com un índex).
* Un array d'etiquetes, per exemple. `['a', 'b', 'c']`.
* Un rang/tall d'objectes amb etiques, per exemple. 'a':'f'.
* Un array de booleans amb la mateixa longitud que el número de columnes. True significarà que volem la columna i False no.

In [ ]:
# Seleccionem totes les files i només mostrarem les columnes `make` i `price`
cotxes.loc[:,['make','price']]

In [ ]:
# Seleccionem totes les files i les columnes compreses entre `make` i `fuel`
cotxes.loc[:,'make':'fuel']

In [ ]:
# Selecciona el valor de la cel·la de la fila 0 i la columna `make`. Per tant només retorna una valor
cotxes.loc[1,'make']

In [ ]:
# Seleccionem només la primera columna (company)
cotxes.loc[:,[True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False]]

In [ ]:
# Seleccionem només les files que `cotxes.make=="BMW"` retornin True.
cotxes.loc[cotxes.make=="BMW"]

### Selecció per condicions (`[]`)

Amb el seleccionador també podem obtenir files i columnes. Fins i tot podem demanar que ens retorni les files de 5 en 5.

In [ ]:
# Seleccionar els cotxes de la fila 10 a la 50 de 5 en 5
cotxes[10:50:5]

Podem seleccionar files que compleixin una certa condició. Li passem al DataFrame una sère de booleans o una condició lògica que retorni un booleà.

Podem combinar diferents condicions amb & (operador i lògic) i | (operador o lògic)

In [ ]:
# Seleccionem els cotxes que només siguin de la marca BMW
cotxes[cotxes.make=="BMW"]

In [ ]:
# Seleccionem els cotxes que siguin de la marca BMW i que el seu preu sigui inferior a 20.000
cotxes[(cotxes.make=="BMW") & (cotxes.price<20000)]

In [ ]:
# Seleccionem els cotxes que siguin de la marca BMW i SEAT
cotxes[(cotxes.make=="BMW") | (cotxes.make=="SEAT")]

### selector IS IN

A través del selector IS IN podem seleccionar dades els valor del qual es troba dins d'una llista. Vindria a ser l'operador `IN` d'SQL

In [ ]:
# Seleccionem els cotex que siguin de la marca BMW i SEAT
cotxes[cotxes.make.isin(["BMW","SEAT"])]

### selectors ISNULL/NOTNULL

Amb aquest selectors podem obtenir aquelles dades que són o no buides (NaN).

In [ ]:
# Seleccionem els cotxes que no tinguin valor en el camp power
cotxes[cotxes.power.isnull()]

In [ ]:
# Seleccionem els cotxes que tinguin valor en el camp power
cotxes[cotxes.power.notnull()]

**Important**: Podem combinar les propietats anteriors per fer seleccions més complexes

In [ ]:
# De tots els cotxes BMW i que el seu preu sigui inferior a 20.000 retornem només la columna `company` (companyia)
cotxes[(cotxes.make=="BMW") & (cotxes.price<20000)].loc[:,'company']

## Ordenació
------------

Podem ordenar un DataFrame per una o diferent columnes mitjanánt el mètode `sort_values`

In [ ]:
# Ordenem els cotxes per pereu de forma ascendent
cotxes.sort_values('price',ascending=True)

In [ ]:
# Ordenem els cotxes per pereu de forma ascendent i any de forma descendent
cotxes.sort_values(['price','year'],ascending=[True,False])

## Transformació
----------------

Molt sovint hem de realitzar canvis en el nostra DataFrame. Afegir, eliminar i renombrar columnes a més de canviar algun tipus de dades.

#### Afegir columna

Podem afegir columnes noves mitjançant columnes existens aplicant-li expressions.

In [ ]:
# AFegim una nova columna al final del DataFrame
cotxes['price_dte'] = cotxes.price * 0.20

#Afegim una nova columna en una ubicació espcífica.
cotxes.insert(3,'price_50', cotxes.price * 0.50)

Possiblament la forma més eficient de reorganitzar les columnes és mitjançant `reindex`

In [ ]:
# En l'exemple reindexem les columnes, però si no afegim totes les columnes del DataFrame aquestes s'esborren.
cotxes = cotxes.reindex(columns=['version','model','company','price','price_financed','price_dte'])

Si volem aplicar una funció a cada elment per cada fila o columna podem utilitzar `apply`
`Compte:` Per defecte aquest mètode retorna un DataFrame i no modifica l'actual.

In [ ]:

# Amb el paràmetre axis indiquem si volem files o columnes. axis=0 s'aplica per cada columna, axis=1 s'aplica a cada fila
df = cotxes.apply(lambda fila: str(fila.model)+'-'+str(fila.version), axis=1)

# Podem utilitzar insert per afegir aquesta nova columna 
cotxes.insert(3,'descripcio',cotxes.apply(lambda fila: str(fila.model)+' - '+str(fila.version), axis=1))

#### Renombrar una columna

cotxes = cotxes.rename(columns={'price_dte': 'precio_90_metros'})

 En general, les funcions de pandas retornen un nou objecte amb el resultat de l'operació, però no modifiquen l'actual DataFrame. Hi ha el paràmetre `inplace`amb valor per defecte a `False`. Si el posem a `True` l'operació es  realitzarà a l'objecte passat per paràmetre.



## Pandasql
-----------

Si estàs acostumat a treballar amb SQL mira't la llibreria Pandasql. Aquesta llibreria permet manipular Dataframes de Pandas utilitzant SQL.

[https://towardsdatascience.com/query-pandas-dataframe-with-sql](https://towardsdatascience.com/query-pandas-dataframe-with-sql-2bb7a509793d)

## Exportació
-------------