# Exercici - Regressió lineal múltiple - Lloguer de bicicletes

## Introducció

Volem utilitzar la tècnica de Regressió lineal múltiple per predir el número de lloguers de bicicletes segons una sèrie d'atributs.
El dataset és [daily-bike-share.csv](daily-bike-share.csv)

Aquest dataset ha esat extret de [Bike Sharing Dataset de UCI University Californi Irvine] (https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset)

* **instant:** Preu de la vivenda en dollars
* **dteday:** data (en format americà (mes/dia/any)
* **season:** Estació de l'any (1:hivern,2:primavera,3:estiu,4:tardor)
* **yr:** Any (0:2011, 1:2012)
* **mnth:** mes (1-12)
* **holiday:** Indica si el dia és festiu o no
* **weekday:** Indica el dia de la setmana (diumenge=0,dilluns=1,...dissabte=6)
* **workingday:** Si el dia és laborable (dilluns-divendres) i tampoc és fesiu 
* **wheathersit:** Temps 
    * **1:** Clar, Pocs núvols, Parcialment ennuvolat, Parcialment ennuvolat
    * **2:** Boira + Ennuvolat, Boira + Núvols trencats, Boira + Pocs núvols, Boira
    * **3:** Neu feble, pluja lleugera + tempesta + núvols dispersos, pluja lleugera + núvols dispersos
    * **4:** Pluja intensa + granisada + tempesta elèctrica + boira, neu + boira
* **temp:** Temperatura normalitzada en graus centígrads.
* **atemp:** Temperatura de sensació /confort normalitzada en graus centígrads
* **hum:** Humitat normalitzada en tant per 1
* **windspeed:** Velocitat del vent normalitzada.(màx 63). Creiem que en milles/h (mph). 1 kph = 0.621371192 mph
* **rentals:** Quantitat de lloguers

## Objectiu

Utilitza les tècniques:
* Backward
* Fordward
* Bidireccional


Compara les diferents tècniques i justifica quina és la que ofereix millors resultats. **

In [2]:
# Importem numpy i pandas
import pandas as pd
import numpy as np 

# Visualització de les dades
from matplotlib import pyplot as plot
import statsmodels.api as sm
import seaborn as sns

## Exploració de dades

Realitza una exploració de les dades

In [4]:
data = pd.read_csv('daily-bike-share.csv')
data.head(100)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,4/6/2011,2,0,4,0,3,1,1,0.390833,0.387608,0.470833,0.263063,413
96,97,4/7/2011,2,0,4,0,4,1,1,0.437500,0.433696,0.602917,0.162312,571
97,98,4/8/2011,2,0,4,0,5,1,2,0.335833,0.324479,0.836250,0.226992,172
98,99,4/9/2011,2,0,4,0,6,0,2,0.342500,0.341529,0.877500,0.133083,879
99,100,4/10/2011,2,0,4,0,0,0,2,0.426667,0.426737,0.857500,0.146767,1188

In [26]:
data.shape

(545, 13)

In [6]:
# Codi per afegir el dia de la setamana
data['day'] = pd.DatetimeIndex(data['dteday']).day
data.head(100)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals,day
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,1
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,2
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,3
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,4
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,4/6/2011,2,0,4,0,3,1,1,0.390833,0.387608,0.470833,0.263063,413,6
96,97,4/7/2011,2,0,4,0,4,1,1,0.437500,0.433696,0.602917,0.162312,571,7
97,98,4/8/2011,2,0,4,0,5,1,2,0.335833,0.324479,0.836250,0.226992,172,8
98,99,4/9/2011,2,0,4,0,6,0,2,0.342500,0.341529,0.877500,0.133083,879,9
99,100,4/10/2011,2,0,4,0,0,0,2,0.426667,0.426737,0.857500,0.146767,1188,10